---
layout: book
title: 日语短篇集
permalink: /books/japanese/
books: 
  - title: 銀河鉄道の夜
  - title: 星の王子さま
---

<div class="panel-group" id="books">
  {% for book in page.books %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#books" href="#book{{forloop.index}}">
                  {{book.title}} » 
                </a>
            </h4>
        </div><!--/.panel-heading-->
        <div id="book{{forloop.index}}" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                  {% for post in  site.posts reversed%}
                    {% if post.book_title == book.title %}
                      <li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </div><!--/.panel-body-->
        </div>
    </div><!--.panel-->
  {% endfor %}
    <!-- more panels -->
</div>
